<a href="https://colab.research.google.com/github/AdrianoHKim/Soulcode/blob/main/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fundamentos de python**

Escola: SoulCode Academy

Curso: Bootcamp Analista de Dados - Martech - AD2

Período: Semana 4

Professor: Douglas Ribeiro & Franciane Rodrigues

Aluno: Adriano Kim

* *Lógica de programação:* é um conceito teórico que se refere à forma de pensar e abordar problemas de programação.

* *Algoritmo:* é uma descrição abstrata de um processo ou solução que poderá ser executado por um computador.

* *Script:* é um conjunto de instruções ou comandos escritos em uma linguagem de programação específica. Geralmente, os scripts são usados para automatizar tarefas ou para definir o comportamento de um programa ou sistema. Eles são frequentemente executados interpretando linha por linha, em vez de serem compilados em um programa executável separado.

* *Programa:* é  um conjunto de instruções escritas em uma linguagem de programação específica, organizadas de forma lógica, para realizar uma tarefa ou resolver um problema específico. Ao contrário de um script, um programa é compilado ou interpretado antes da execução, resultando em um arquivo executável que pode ser executado diretamente em um sistema operacional.

## **Comentários**

* Em python, o comentário é declarado após um #, qualquer código inserido nessa linha NÃO será executado!
* Comentários maiores sao declarados usando """ ou '''

In [ ]:
print('Ola, Mundo!')  # Usando aspas simples
print("Ola, Mundo!")  # Usando aspas duplas
# Códigos acima para não dar azar :)

In [ ]:
# Isto é um comentário

In [ ]:
# print('Olá, mundo!') <- isto também é um comentário

In [ ]:
''' Isto
    é
    um
    comentário
    grande
'''

In [ ]:
""" Isto
    é
    outro
    comentário
    grande
"""

**RESUMO**

*   Os **comentários** são como notas que você deixa para que você ou outra pessoa possa ler e ajuda documentar o seu código
*   **Comando print:** é uma função de saída utilizada em várias linguagens de
programação para exibir mensagens ou valores na tela do computador.

## **Tipos de dados - type**

![tiposdados.png]()

In [ ]:
# Estamos escrevendo nossos dados pessoais

print(36, type(36))               # idade        - int  (quant)
print(1.65, type(1.65))           # altura       - float (quant)
print('Adriano', type('Adriano')) # nome         - str com aspas simples (quant)
print("Kim", type("Kim"))         # sobrenome    - str com aspas duplas (quant)
print(False, type(False))         # estado civil - bool  (dummy/binaria)

**RESUMO**

*   int e float: dados quantitativos
*   str: dados categóricos/qualitativos
*   **\n**: usado para criar quebras de linha em um texto
*   Tipos de dados no Python mais usados são int, float, str, bool

## **Variáveis**


*   snake_case: Substituir os 'espaços' por '_'

*   CamelCase: Usar letras maiusculas nas iniciais.
Ex: VariavelUm

*   NÂO usar acentos, cedilha, 'espaços', caracteres especiais

*   Type: Podem ser do tipo int(numero inteiro),
float(numeros com casas decimais), str(string, 'texto') e bool(boleano, True ou False).

In [2]:
# Declarando as variáveis

idade = 36
altura = "%.2f" % 1.80
nome = 'Adriano'
sobrenome = 'Kim'
filhos = False

In [ ]:
# Imprimir na tela usando o comando print

print(idade)
print(altura)
print(nome)
print(sobrenome)
print(filhos)

36
1.80
Adriano
Kim
False

In [ ]:
# Informar na tela usando apenas o nome da variável(no Colab!)
# Se não usar o comando print, retorna apenas a última variável

idade
altura
nome
sobrenome
filhos  # Boleano, retorna False.

False

In [ ]:
# Impressão geral de todas as variáveis declaradas, em um comando print
# utilizando , para separar cada variável

print(idade, altura, nome, sobrenome, filhos)

36 1.80 Adriano Kim False

In [ ]:
# Comando type(variável) serve para checarmos o tipo de dado que a variável
# é declarada

print(type(idade))
print(type(altura))
print(type(nome))
print(type(sobrenome))
print(type(filhos))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>

**Resumo**
*  **Variáveis** permitem salvar valores na memória usando um nome que atribuímos
* Declaramos um nome no lado esquerdo do operador igual (“=”), e no lado direito, atribuir o valor que queremos salvar para usar mais tarde.
* Como ler: Declaramos a variável "a" ao valor do "2" do tipo int
(ex.: a = 2)

* Como ler: Declaramos a variável "b" ao valor do "10.953" do tipo float
(ex.: b = 10.953)

* Como ler: A variável "a" recebe valor 2 do tipo int
(ex.: a = 2)

* Como ler: A variável "b" recebe valor 10.953 do tipo float
(ex.: b = 10.953)

* É possível usar os dois comandos print e type juntos
* Atenção: Número pode ser string

**Regras para nomes de variáveis**
* Deve começar com uma letra (maíuscula ou minúscula) ou subcrito(_).
* Nunca pode começar com um número.
* Pode conter letras maiúsculas, minúsculas, números e subscrito.
* Não pode-se utilizar como parte do nome de uma variável:
{ ( + - * / \ ; . , ?
* Letras maiúsculas e minúsculas são diferentes:
casa = 4
Casa = 4

### Conversão/Casting de variaveis


*   Como 'castar', 'forcar' uma variável para um type(tipo) desejado.

In [3]:
# INT PARA FLOAT

dados = 10
print(type(dados)) # retorna o tipo da variável

conversao = float(dados)
print(type(conversao)) # retorna o tipo da variável convertida

<class 'int'>
<class 'float'>

In [4]:
# INT PARA STR

dados = 10
print(type(dados)) # retorna o tipo da variável

conversao = str(dados)
print(type(conversao)) # retorna o tipo da variável convertida

<class 'int'>
<class 'str'>

In [10]:
# FLOAT PARA INT

dados = 1.5
print(type(dados)) # retorna o tipo da variável

conversao = int(dados)
print(type(conversao)) # retorna o tipo da variável convertida
print(f'dados int: {dados}\ndados float: {conversao}') # ATENÇÃO!!! ESSA CONVERSÃO ARREDONDA O VALOR!

<class 'float'>
<class 'int'>
dados int: 1.5
dados float: 1

In [11]:
# FLOAT PARA STR

dados = 1.5
print(type(dados)) # retorna o tipo da variável

conversao = str(dados)
print(type(conversao)) # retorna o tipo da variável convertida

<class 'float'>
<class 'str'>

In [14]:
# STR PARA INT (O NÚMERO DEVERÁ SER INT, OU ARREDONDADO ANTES DE FORCAR PRA INT)

dados = '1'
print(type(dados)) # retorna o tipo da variável

conversao = int(dados)
print(type(conversao)) # retorna o tipo da variável convertida

<class 'str'>
<class 'int'>

In [17]:
# STR PARA FLOAT

dados = '1.0' # ATENÇÃO!!! um número inteiro com '.', mesmo se for um número inteiro, será considerado float.
print(type(dados)) # retorna o tipo da variável

conversao = float(dados)
print(type(conversao)) # retorna o tipo da variável convertida

<class 'str'>
<class 'float'>

## **Operadores**

### Operadores Matemáticos

In [20]:
# SOMA (+)

num1 = 1
num2 = 2
soma = num1 + num2

print(f'Soma dos números: {soma}')

Soma dos números: 3

In [19]:
# SUBTRAÇÃO (-)

num1 = 2
num2 = 1
subtr = num1 - num2

print(f'Subtração dos números: {subtr}')

Subtração dos números: 1

In [22]:
# MULTIPLICAÇÃO (*)

num1 = 2
num2 = 2
mult = num1 * num2

print(f'Multiplicação dos números: {mult}')

Multiplicação dos números: 4

In [26]:
# DIVISÃO (/)

num1 = 10
num2 = 2
div = num1 / num2

print(f'Divisão do 1° número pelo 2°: {div}')

Divisão do 1° número pelo 2°: 5.0

In [25]:
# PRODUTO INTEIRO da DIVISÃO (//)

num1 = 10
num2 = 3
prod_int = num1 // num2

print(f'Produto inteiro do 1° divido pelo 2°: {prod_int}')

Produto inteiro do 1° divido pelo 2°: 3

In [27]:
# RESTO da DIVISÃO (%)

num1 = 10
num2 = 3
resto = num1 % num2

print(f'Resto da divisao do 1° número pelo 2°: {resto}')

Resto da divisao do 1° número pelo 2°: 1

In [29]:
# EXPONENCIAÇÃO (**)

num1 = 10
num2 = 2
exp = num1 ** num2

print(f'Exponenciação do 1° número pelo 2°: {exp}')

Exponenciação do 1° número pelo 2°: 100

### Operadores Comparativos

*   Retornam True ou False

In [35]:
# Comparação (==) verifica se os valores sao iguais, incluindo o type() deles.

x = '1'
y = 1

print(x == y)

False

In [36]:
# Comparação (!=) verifica se os valores são diferentes, incluindo o type() deles.

x = '1'
y = 1

print(x != y)

True

In [37]:
# Comparação (>) verifica se uma variável é maior que a outra.

x = 2
y = 1

print(x > y)

True

In [40]:
# Comparação (>=) verifica se uma variável é maior OU igual a outra.

x = 2
y = 2
print(f'{x} >= {y}: {x >= y}')

x = 3
y = 1
print(f'{x} >= {y}: {x >= y}')

2 >= 2: True
3 >= 1: True

In [43]:
# Comparação (<) verifica se uma variável é menor que a outra.

x = 1
y = 5

print(x < y)

True

In [45]:
# Comparação (<=) verifica se uma variável é menor OU igual a outra.

x = 2
y = 2
print(f'{x} >= {y}: {x <= y}')

x = 1
y = 3
print(f'{x} <= {y}: {x <= y}')

2 >= 2: True
1 <= 3: True

### Operadores de atribuição direta

*   (=) É usado para as atribuições, podendo sofrer alterações ao longo do código.

In [51]:
# (=)

valor = 1
print(f'valor original: {valor}')

valor = 5
print(f'valor alterado: {valor}') # Mostrando que a mesma variável sofreu uma alteração

valor original: 1
valor alterado: 5
valor = 1
valor += 2: 3

In [52]:
# (+=) Atribuição de incremento

valor = 1
print(f'valor = {valor}')
valor += 2 # 2 será adicionado ao valor 1
print(f'valor += 2: {valor}')

valor = 1
valor += 2: 3

In [53]:
# (-=) Atribuição de decremento

valor = 5
print(f'valor = {valor}')
valor -= 2 # 5 será subtraido do valor 2
print(f'valor -= 2: {valor}')

valor = 5
valor += 2: 3

In [54]:
# (/=) Atribuição de divisão

valor = 4
print(f'valor = {valor}')
valor /= 2 # 4 será divido do valor 2
print(f'valor /= 2: {valor}')

valor = 4
valor /= 2: 2.0

In [55]:
# (//=) Atribuição de produto inteiro da divisão

valor = 5
print(f'valor = {valor}')
valor //= 2 # 4 será divido do valor 2
print(f'valor //= 2: {valor}')

valor = 5
valor //= 2: 2

In [56]:
# (%=) Atribuição de resto da divisão

valor = 5
print(f'valor = {valor}')
valor %= 2 # 4 será divido do valor 2
print(f'valor %= 2: {valor}')

valor = 5
valor %= 2: 1

In [57]:
# (**) Atribuição de expenenciação

valor = 2
print(f'valor = {valor}')
valor **= 2 # 4 será divido do valor 2
print(f'valor **= 2: {valor}')

valor = 2
valor **= 2: 4

### Operadores Lógicos

In [59]:
# and ou &

ex = 5 > 1 and 2 < 6
print(ex)

ex = 5 > 1 & 2 < 6
print(ex)

True
True

In [60]:
# or ou |

ex = 5 > 1 or 50 < 6
print(ex)

ex = 5 > 1 | 50 < 6
print(ex)

True
False

In [63]:
# not

ex = 1
ex2 = 1

print(not(ex == ex2), ex == ex2)
print(not(ex == ex2, ex == ex2)) # TOMAR CUIDADO COM OS PARENTESES

False True
False

### Operadores de identidade

In [72]:
# (is) Verifica se um valor é igual ao outro ATENÇÃO! COMPARA O TYPE TAMBÉM!

a = 1
b = 1.0

teste2 = a is b

print(f'teste2 = a is b: {teste2}')

teste2 = a is b: False

In [73]:
# (is not) Verifica se um valor é diferente do outro

a = 1
b = 1.0

teste2 = a is not b

print(f'teste2 = a is b: {teste2}')

teste2 = a is b: True

### Operadores de associação de string

In [74]:
# (in) O operador “in” do Python é usado para verificar se um
# valor especificado é um elemento constituinte de uma sequência
# como string, array, lista, tupla, etc.

lista1= [1,2,3,4,5]
string1= "My name is AskPython"
tupla1=(11,22,33,44)

print(5 in lista1)
print("is" in string1)
print(88 in tupla1)

True
True
False

In [75]:
# (not in) O operador “ not in” do Python é usado para verificar se um
# valor especificado é um elemento NÃO constituinte de uma sequência
# como string, array, lista, tupla, etc.

lista1= [1,2,3,4,5]
string1= "My name is AskPython"
tupla1=(11,22,33,44)

print(5 not in lista1)
print("is" not in string1)
print(88 not in tupla1)

False
False
True

## Fundamentos básicos Strings

### Índice(Indexing) e Fatiamento(Slicing)

In [77]:
# +--------------------------------------------------+
# | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 |  # índice normal
# +--------------------------------------------------+
# | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 |  9 | 10 | 11 |  # índice python
# +--------------------------------------------------+
# | k | i | m | @ | g | m | a | i | . |  c |  o |  m |  # exemplo
# +--------------------------------------------------+
# |12 |11 |10 | 9 | 8 | 7 | 6 | 5 | 4 |  3 |  2 |  1 |  # índice python reverso
# +--------------------------------------------------+


# FATIAMENTO(SLICING)

# SINTAXE: exemplo[indice]

email = 'kim@gmail.com'

print(email[2]) # o valor dentro do [] representa o índice

print(email[2:]) # a partir do indice 2

print(email[:]) # índice inicial ao final

print(email[:3]) # início até o índice 3 (incluindo o índice 3)

print(email[1::2]) # do índice 1 com intervalos de 2 índices, até o final

print(email[::-1]) # revertendo a string

print(email[-1])  # ATENÇÃO !!! o índice reverso inicia do 1 !!!

m
m@gmail.com
kim@gmail.com
kim
i@mi.o
moc.liamg@mik
m

#### Len()

Definição e Uso
A função len() retorna o número de itens em um objeto.

Quando o objeto é uma string, a função len() retorna o número de caracteres na string.

Sintaxe:
len(objeto)

In [78]:
print(len(email)) # Retorna 13 porque conta as aspas '' também!!!

13

## Métodos para strings

In [81]:
# Concatenação

sobrenoome = 'kim'
apelido = 'zera'

print(sobrenome + apelido)  # só pode ser usado entre 2 strings!

Kimzera

In [82]:
# Casting de strings

rg = '11111111'
rg_int = int(rg)

print(type(rg_int), rg_int)

<class 'int'> 11111111

## Métodos Específicos para Strings

In [95]:
# upper()

# Retorna uma string onde todos os caracteres estão em letras maiúsculas.

# Sintaxe: string.upper()

nome1 = 'adrianokim'

print(nome1.upper())

ADRIANOKIM

In [84]:
# capitalize()

# Retorna uma string onde o primeiro caractere é maiúsculo e o restante é minúsculo.

# Sintaxe: string.capitalize()

nome = 'adriano'

print(nome.capitalize())

Adriano

In [94]:
# lower()

# Retorna uma string com todos caracteres em minúsculo

# Sintaxe: string.lower()

print(nome.lower())

adrianokim

In [85]:
# casefold()

# Retorna uma string onde todos os caracteres são minúsculos.
# Este método é semelhante ao método lower(), mas o método casefold()
# é mais forte, mais agressivo, o que significa que ele converterá mais
# caracteres em letras minúsculas e encontrará mais correspondências ao
# comparar duas strings e ambas são convertidas usando o casefold () método.

# Sintaxe: string.casefold()

nome = 'ADRIANOKIM'

print(nome.casefold())

adrianokim

In [87]:
# count()

# Retorna o número de elementos com o valor especificado.

# Sintaxe: lista.count(valor)

print(nome.count('A'))

2

In [88]:
# endswith()

# Retorna True se a string terminar com o valor especificado, caso contrário, False.

# Sintaxe: string.endswith(valor, inicio, final)

print(nome.endswith('KIM'))

True

In [89]:
# isalnum()

# Retorna True se todos os caracteres forem alfanuméricos,
# significando letras do alfabeto (a-z) e números (0-9).

# Sintaxe: string.isalnum()

print(nome.isalnum())

True

In [90]:
# isalpha()

# Retorna True se todos os caracteres forem letras do alfabeto (a-z).

# Sintaxe: string.isalpha()

print(nome.isalpha())

True

In [93]:
# isnumeric()

# Retorna True se todos os caracteres forem números (0-9).

# Sintaxe: string.isnum()

print(nome.isnumeric())

False

In [96]:
# replace()

# Pesquisa uma string em busca de um valor ou uma expressão regular.
# Retorna uma nova string com o(s) valor(es) substituído(s).
# Não altera a string original.

# Sintaxe: string.replace(valor, novo_valor)

exemplo = 'Adriano.Kim'

print(exemplo.replace('.', ' '))

Adriano Kim

In [97]:
# split()

# Divide uma string em uma lista.
# Você pode especificar o separador, o separador padrão é qualquer espaço em branco.

# Sintaxe: string.split(separador, maxsplit)

nome3 = 'Adriano Kim'

print(nome3.split()) # retorna os valores em uma lista

['Adriano', 'Kim']

In [98]:
# strip()

# remove todos os espaços em branco iniciais e finais.
# À esquerda significa no início da string, à direita significa no final.
# Você pode especificar quais caracteres remover, caso contrário,
# todos os espaços em branco serão removidos.

# Sintaxe: string.strip(caracteres)

nome4 = ' Adriano Kim    '

print(nome4.strip())

Adriano Kim

In [99]:
# title()

# Retorna uma string onde o primeiro caractere de cada palavra é maiúsculo.
# Como um cabeçalho ou um título.
# Se a palavra contiver um número ou um símbolo,
# a primeira letra depois disso será convertida em maiúscula.

# Sintaxe: string.title()

nome5 = 'adriano kim'

print(nome5.title())

Adriano Kim

## Estrutura de dados

### Lista

In [102]:
# Listas

'''
As listas são usadas para armazenar vários itens em uma única variável.
São criadas usando colchetes: [exemplo, exemplo2]
Obs.: Ela pode ser vazia!
A lista é mutável, o que significa que podemos alterar,
adicionar e remover itens de uma lista depois de criada.
Pode conter diferentes tipos(type) de dados.
'''

lista = [] # Exemplo de lista vazia

lista = ['carro', 'onibus', 'moto', 287, 2.97, True] # pode conter diferentes tipos de dados

print(lista)

['carro', 'onibus', 'moto', 287, 2.97, True]

#### Métodos de lista

In [109]:
# append()

# Acrescenta um elemento ao final da lista.

# Sintaxe: list.append(elemento)

a = ['carro', 'onibus', 'moto']
b = ['bike', 'trem']
c = 'aviao'
d = input('Digite algo: ')

a.append(b)
a.append(c)
a.append(d)

print(a)

Digite algo: asd
['carro', 'onibus', 'moto', ['bike', 'trem'], 'aviao', 'asd']

In [112]:
# insert()

# Insere o valor especificado na posição especificada.

# Sintaxe: list.insert(posicao, elemento)

frutinhos = ['banana', 'amora', 'cereja']

frutinhos.insert(1, 'limao')

print(frutinhos)

['banana', 'limao', 'amora', 'cereja']

In [114]:
# remove()

# Remove a primeira ocorrência do elemento com o valor especificado.

# Sintaxe: list.remove(elemento)

frutinhos = ['banana', 'amora', 'cereja']

frutinhos.remove('banana')

print(frutinhos)

['amora', 'cereja']

In [117]:
# pop()

# Remove o último elemento de um array.
# Altera o array original.
# Retorna o elemento removido.

# Sintaxe: lista.pop(indice)

frutinhos.pop(1)

'cereja'

## Condicionais (if, elif, else)

In [118]:
# if

'''
Python suporta as condições lógicas usuais da matemática:
a == b
a != b
a < b
a <= b
a > b
a >= b

Essas condições podem ser usadas de várias maneiras,
mais comumente em "instruções if" e loops.
'''

x = 2
y = 1000

if y > x:
    print('y é maior que x.')

y é maior que x.

In [119]:
# elif

'''
elif é a maneira de dizer:
"se as condições anteriores(IF OU ELIF) não forem verdadeiras, tente esta condição".
OBS.: elif so pode ser usado após um if, ou elif.
'''

x = 33
y = 33
if x > y:
    print("x é maior que y.")
elif x == y:
    print("x e y são iguais.")

x e y são iguais.

In [120]:
# else

'''
else captura qualquer coisa que não seja capturada pelas condições anteriores
'''

x = 500
y = 23
if x > y:
    print("x é maior que y.")
elif x == y:
    print("x e y são iguais.")
else:
    print("y é maior que x.")

x é maior que y.

## Estruturas de repetição(for e while)

In [126]:
# for

'''
Um loop for é usado para iterar sobre uma sequência,
(que pode ser uma lista, uma tupla, um dicionário, um conjunto ou uma string).

Com o loop for podemos executar um conjunto de instruções,
uma vez para cada item em uma lista, tupla, conjunto etc.
'''

# Exemplo: 'printar' todos elementos de uma lista

lista = ['carro', 'moto', 'trem']


for x in lista: # percorre cada item da lista
    print(x) # vai retornar cada elemento em linhas diferentes


# Exemplo 2: percorrer uma string e printar todos caracteres dele


for y in 'adriano':
    print(y)


# break

# Podemos interromper o loop antes que ele percorra todos os itens:


for x in lista:
    print(x)
    if x == "moto":
        break


# range()

'''
Retorna uma sequência de números, começando em 0 por padrão e incrementando em 1
(por padrão) e para antes de um número especificado.
'''

for x in range(9): # percorre ate o indice 2 (excluindo o indice 9!)
  print(x)


# for aninhado

lista1 = ['moto', 'carro', 'trem']
lista2 = ['bike', 'aviao', 'caminhao']

for x in lista1:
    for y in lista2:
        print(x, y) # retorna o indice percorrido da lista 1 + todos os índices percorridos da lista 2

carro
moto
trem
a
d
r
i
a
n
o
carro
moto
0
1
2
3
4
5
6
7
8
moto bike
moto aviao
moto caminhao
carro bike
carro aviao
carro caminhao
trem bike
trem aviao
trem caminhao

In [135]:
# while

# Executa um conjunto de instruções, desde que uma condição seja verdadeira.

x = 1


while x < 6: # Obs.: NÃO inclui o índice especificado.
    print(x)
    x += 1 # ATENÇÃO! lembrar de colocar uma contagem para nao ter um look inifito.


# Usando o break

y = 10


while y < 15:
    print(y)
    if y == 13:
        break
    y += 1


# Usando else

y = 10


while y < 15:
    print(y)
    y += 1


else:
    print('y é igual a 15!')

1
2
3
4
5
10
11
12
13
10
11
12
13
14
y é igual a 15!

## Tratamento de erros (try, except)

In [140]:
# try e except

'''
try permite testar erros em um bloco de código.

except permite lidar com o erro.

else permite que você execute o código quando não houver erro.
'''

# Exemplo usando except:

print('Exemplo de except:')


try:
  print(algo_nao_especificado)
except:
  print('Ocorreu um erro.')


# Exemplo usando else:

print('\nExemplo de else:')


try:
  print('Ola')
except:
  print('Ocorreu um erro.')
else:
  print('Não ocorreu nenhum erro.')

Exemplo de except:
Ocorreu um erro.

Exemplo de else:
Ola
Não ocorreu nenhum erro.

In [142]:
# pass

'''
pass é usada como um espaço reservado para o código futuro.
Quando a instrução pass é executada, nada acontece, mas você evita obter um erro
quando o código vazio não é permitido, pode ser usado para continuar um loop.
Código vazio não é permitido em loops, definições de função, definições de
classe ou em instruções if.
'''

# Exemplo:

def myfunction():
    pass # nao retorna nenhuma mensagem de erro, nada acontece.

## Funções (def)

In [150]:
# def

'''
Uma função só é executada quando é chamada.
Deve ter argumentos atribuidos(pode ser mais de 1) a ela.
Pode retornar dados como um resultado.
'''

# Sintaxe: def nome_da_funcao(argumento1, opcional_argumento2)
#             (ação que a função fará, identado abaixo da função)

# Exemplo com 1 argumento:

exemplao = 9.9146584614
print(f'exemplao: {exemplao}')

def formatacao(casas_decimais):
    format = '{:.2f}'.format
    casas_decimais = format(casas_decimais)
    return casas_decimais

print(f'exemplao tratado com a funcao: {formatacao(exemplao)}')


# Exemplo com 2 argumentos:


def funcao(nome, sobrenome):
  print(nome + ' ' + sobrenome)

funcao('Adriano', 'Kim')

exemplao: 9.9146584614
exemplao tratado com a funcao: 9.91
Adriano Kim